project:
  output-dir: _docs

website:
  title: "{{project_name}}"
  site-url: "https://{{project_name}}.netlify.app"
  description: "{{short_description}}"
  repo-branch: main
  repo-url: "https://github.com/{{gh_organisation}}/{{project_name}}"
